<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <header class="header">
    <div>
      <h1 class="text-center mytext">Wissen <span><i class="smalltext">MOVIES</i></span></h1>
    </div>
  </header>
  <br>
  <section>
    <app-movie></app-movie>
  </section>
</div>
<!-- Footer -->
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="http://wissentechnology.com/" target="_blank"> wissentechnology.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->


