<div class="main">
    <div class="filter">
        <div id="toggleSwitch">
            <h4>Theme: </h4>
            <label class="switch">
                <input type="checkbox" (click)="theme($event)">
                <span class="slider round"><i style="font-size:10px; margin-left: 3px;">Light</i>&nbsp;<i style="font-size:10px;">Dark</i></span>
            </label>
        </div>

        <form class="filter-form form-group">
            <h4>Search:</h4>
            <input type="text" class="form-control" list="browsers" #moviename/><br/>

            <datalist id="browsers" [hidden]="isAutoComp">
                <option *ngFor="let l of dataListArr" value={{l}}>{{l}}</option>
            </datalist>


            <button class="btn btn-primary btn-sm" (click)="search(moviename)">Search</button><span> &nbsp;</span>
            <button class="btn btn-primary btn-sm" (click)="reset()">reset</button>
        </form>
        <form class="filter-form form-group">
            <h4>Sort By:</h4>
            <select id="sort" class="form-control" (change)="sorting($event.target.value)">
                <option *ngFor="let l of _sortOptionArr" value={{l.option}}>{{l.text}}</option>
            </select>

        </form>
        <form class="filter-form form-group">
            <h4>Filter:</h4>
            <span>Year:</span>
            <select id="filteryr" class="form-control" (change)="filter()">
                <option *ngFor="let y of _movieYearsArr" value={{y}}>{{y}}</option>
            </select>
            <br/>
            <span>Language:</span>
            <select id="filterlang" class="form-control" (change)="filter()">
                <option *ngFor="let l of _movieLangArr" value={{l}}>{{l}}</option>
            </select>
            <br/>
            <span>Country:</span>
            <select id="filtercont" class="form-control" (change)="filter()">
                <option *ngFor="let l of _movieCountry" value={{l}}>{{l}}</option>
            </select>
            <br/>
            <span>Genre:</span>
            <select id="filtergen" class="form-control" (change)="filter()">
                <option *ngFor="let l of _movieGenreArr" value={{l}}>{{l}}</option>
            </select>

        </form>
    </div>

    <div class="timeline">
        <div *ngIf="isLoading">
            <img src="https://www.knog.com.au/media/vss_spinandwin/Loader.gif" />
        </div>
        <div *ngFor="let m of moviesArray | paginate: { itemsPerPage: 10, currentPage: p }; let i = index;" >
            <div class="panel-default movies">
                <span>{{((p-1)*10)+(i+1)}}. <a class="h5" href={{m.movie_imdb_link}} target="_blank">{{m.movie_title}}</a>
                    <span class="text-small">({{m.title_year}})</span>
                </span>
                <div style="font-size: 10px">
                    <p class="text-capitalize">{{m.genres}}</p>
                </div>
                <div style="font-size: 13px">
                    <p>
                        <svg class="ipl-star-border-icon" xmlns="http://www.w3.org/2000/svg" fill="#000000" height="24" viewBox="0 0 24 24" width="24">
                            <path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"></path>
                            <path d="M0 0h24v24H0z" fill="none"></path>
                        </svg>
                        {{m.content_rating}}
                    </p>
                    <p>
                        Language: {{m.language}}
                    </p>
                    <p>
                        Country: {{m.country}}
                    </p>
                </div>
                <div style="font-size: 12px">
                    <span>
                        <span style="color:rgba(0,0,0,0.6);font-family: Verdana, Arial, sans-serif;">Director:</span> {{m.director_name}}
                        <span style="color:rgba(0,0,0,0.6);font-family: Verdana, Arial, sans-serif;">Actors: </span>
                        {{m.actor_1_name}}, {{m.actor_2_name}}
                    </span>
                </div>
                <div style="font-size: 12px">
                    <span style="color:#9e2929c4;font-family: Verdana, Arial, sans-serif;">
                        Budget:
                    </span>$ {{m.budget/1000000}}M
                </div>
            </div>
        </div>
    </div>
    <div class="pagination">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>